<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>36780231042-dug8rtqqqdhm58pent0pt1b7h0490s17.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.36780231042-dug8rtqqqdhm58pent0pt1b7h0490s17</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>36780231042-dk07emnsjv72l668ot3m26vs6f6d94n3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB-I5LSc3h0Az5e8ajmXPxdYIVlVxGdCBA</string>
	<key>GCM_SENDER_ID</key>
	<string>36780231042</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alessandromontrone.studiopasupplier</string>
	<key>PROJECT_ID</key>
	<string>studio-pa-db402</string>
	<key>STORAGE_BUCKET</key>
	<string>studio-pa-db402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:36780231042:ios:957d36a1bda76e322b679b</string>
</dict>
</plist>
